body {
  font-family: helvetica;
}

a {
  color: black;
}

a {
  padding-right: 50px;
}

nav {
  margin-bottom: 50px;
}

p {
  width: 30%;
  font-size: 1rem;
}

.personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  padding: 10px;
}

.photo-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 2px solid black;
  margin-bottom: 20px;
}

.photo-container img {
  width: 100%;
  height: auto;
  display: block;
}
